body{
    background-color: #FCEEE7;
  }
  .head h1 {
    color: #F57B51;
    text-align: center;
    margin: 10px;
    font-family: 'Gamja Flower', sans-serif;
  }
  .first p {
    color: #F57B51;
    text-align: center;
    margin-top: 200px;
    font-size: 25px;
    font-family: 'Gamja Flower', sans-serif;
  }
  .home {
    text-align: center;
  }

  .button {
    display: inline-block;
    height: 50px;
    width: 300px;
    margin: 0 auto; /* Center the button horizontally */
    text-align: center;
    color: #FFF;
    background-color: #F57B51;
    border: 2px solid #F57B51; /* Added 'solid' for better clarity */
    font-size: 20px; /* Adjusted font size */
    font-family: 'Gamja Flower', sans-serif;
    text-decoration: none;
    line-height: 50px; /* Center text vertically within the button */
  }
  .button a {
    text-align: center;
    font-size: 15px;
    margin: 5px;
  }
  .last p {
    color: #F57B51;
    text-align: center;
    font-size: 25px;
    font-family: 'Gamja Flower', sans-serif;
  }