{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Email Already Exists</title>
    <link rel="stylesheet" href="{% static 'exist.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class='head'>
      <h1>Sub_mail</h1>
    </div>
    <div class='first'>
      <p>Your Email already exists</p>
    </div>
    <div class='home'>
        <a href="/" class='button'>Return to home</a>
    </div>
    <div class='last'>
      <p>Thank you for being with us!</p>
    </div>
  </body>
</html>
